.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--background-color);
    width: 100%;
    box-sizing: border-box;
    margin-top: 2.4rem;
    color: var(--text-color);
}

@media (max-width: 768px) {
  .footer {
    padding: 1rem 0; /* 1rem сверху и снизу, 0 слева и справа */
    justify-content: space-between;
  }

}