.textarea-with-button-container {
  position: relative;
  width: 100%;
  display: inline-block;
  color: var(--text-color);
}

.textarea-button {
  margin: 1rem;
}

.textarea-with-button {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  border-radius: 1em;
  background-color: var(--secondary-color);
}