.textarea {
  width: 100%;
  padding: 0.85rem 1rem;
  color: var(--text-color);
}

.textarea-text {
  width: 100%;
  resize: none;
  border-radius: 1em;
  background-color: var(--secondary-color);
  font-family: var(--font-subheading, 'Ubuntu'), sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0.85rem 1rem;
  border: none;
  outline: none;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .textarea-text {
    font-size: 1.1rem; 
    padding: 0.7rem 0.9rem; 
  }
}
