.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  gap: 2rem;
  text-align: left;
  width: 100%;
  max-width: 50rem;
  margin-top: 1rem;
  margin: auto;
  color: var(--text-color);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 1rem;
}