@import url('https://fonts.googleapis.com/css2?family=Literata&family=Overpass&display=swap');


:root {
  --font-heading: 'Literata', serif;    
  --font-subheading: 'Overpass', sans-serif; 
}

h1 {
  font-family: var(--font-heading, 'Overpass'), sans-serif;
  font-weight: 700; 
}

h2, h3 {
  font-family: var(--font-heading, 'Overpass'), sans-serif;
  font-weight: 900; 
}

h4, h5, h6 {
  font-family: var(--font-subheading, 'Overpass'), serif;
  font-weight: 600; 
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.2;
}

p{
  font-family: var(--font-subheading, 'Overpass'), serif;
  font-weight: 600; 
}

